body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color:white
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(37, 94, 37);
    color: white;
    text-align: center;
    padding: 10px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgb(37, 94, 37);
    padding: 5px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

main {
    text-align: center;
    padding: 20px;
}

section {
    margin-bottom: 0px;
}

img{
    text-align: center;
    width: 35%;
}

video{
    width: 50%;
}

footer {
    position: fixed; bottom: 0; left: 0; 
    padding: 5px 10px; 
    background-color: rgb(37, 94, 37); 
    font-size: 0.85em; 
    width: 100%; 
    color: white
}

.contact-info {
    margin: 0;
}